<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Copa Mundial 2018</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto" *ngIf="iniciadaSession()">

        <li class="nav-item">
          <a class="nav-link" (click)="false">Registrar Marcadores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="false">Ver Puntuacion</a>
        </li>

        <li class="nav-item dropdown" *ngIf="usuarioService.decodedToken?.role == 1">
          <a (click)="false" class="nav-link dropdown-toggle" id="dropdown07" data-toggle="dropdown">Administrar</a>
          <div class="dropdown-menu" aria-labelledby="dropdown07">
            <a class="dropdown-item" [routerLink]="['/administrar/equipos']">Equipos</a>
            <a class="dropdown-item" [routerLink]="['/administrar/fases']">Fases</a>
            <a class="dropdown-item" [routerLink]="['/administrar/juegos']">Juegos</a>
            <a class="dropdown-item" [routerLink]="['/administrar/usuarios']">Usuarios</a>
            <a class="dropdown-item" [routerLink]="['/administrar/grupoUsuarios']">Grupos De Usuarios</a>
          </div>
        </li>

      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!iniciadaSession()">

      </ul>
      <form *ngIf="!iniciadaSession()" class="form-inline my-2 my-md-0">
        <div class="bd-example">
          <button [routerLink]="['/login']" (click)="false" class="btn btn-secondary">Entrar</button>
          <button [routerLink]="['/registrar']" (click)="false" class="btn btn-success">Registrarse</button>
        </div>
      </form>

      <ul *ngIf="iniciadaSession()" class="nav navbar-right navbar-brand">
        <li class="dropdown" dropdown>
          <a (click)='false' class="dropdown-toggle" dropdownToggle>{{usuarioService.decodedToken.unique_name | titlecase}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="['/perfil']">
                <i class="fa fa-user-edit"></i> Perfil</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="logout()">
                <i class="fa fa-sign-out-alt"> </i>Salir</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>