<form #frmRegistrarGrupoEquipo="ngForm" class="form-signin animated fadeIn" [formGroup]="registroGrupoEquipo" id="frmRegistrarGrupoEquipo">
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label>
    <input type="text" class="form-control" formControlName="Nombre" placeholder="Nombre">
    <small class="help-blok error-form" *ngIf="registroGrupoEquipo.get('Nombre').hasError('required') &&  registroGrupoEquipo.get('Nombre').touched">
      El nombre de la fase es requerido
    </small>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Color</label>
    <br>
    <input type="color" class="" formControlName="Color">
    <small class="help-blok error-form" *ngIf="registroGrupoEquipo.get('Color').hasError('required') &&  registroGrupoEquipo.get('Color').touched">
      El color es requerido
    </small>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Orden</label>
    <input type="text" class="form-control" formControlName="Orden" placeholder="Orden">
    <small class="help-blok error-form" *ngIf="registroGrupoEquipo.get('Orden').hasError('required') &&  registroGrupoEquipo.get('Orden').touched">
      El orden es requerido
    </small>
  </div>
  <div class="form-group text-center">
    <button [disabled]="!registroGrupoEquipo.dirty" class="btn btn-success" (click)="registrarGrupo()">Registrar</button>
    <button class="btn btn-default" (click)="false" [routerLink]="['/administrar/grupoEquipos']">Cancelar</button>
  </div>
</form>